/* ________________HEADER___________________________________ */
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
}
/* _______MAIN________________________________________________ */

main{
    width: 940px;
    margin: 40px auto;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.input-padrao{
    display: block;
    margin: 0 0 20px 0;
    padding: 10px 25px;
    width: 50%;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: #ffa600f6;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
}

.enviar:hover{
    background-color: #94640c;
}

/* _______FOOTER_______________________________________________ */
footer{
    text-align: center;
    background: url("assets/bg.jpg");
}

footer img{
    padding: 40px 0;
}

.copyright{
    margin-top: 20px;
    padding-bottom: 20px;
    color:#ffffff;
    font-size: 13px;
}
