body{
    background-color: #bbbbbb;
}


.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 345px;
}

.logo{
    position: relative;

}

.banner{
    width: 100%;
    margin: 10px;
}

.principal{
    background-color: #CCCCCC;
    padding: 30px;
}

.principal p{
    text-align: justify;
    font-size: 1.6rem;
}

.titulo-centralizado{
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
    font-size: 30px;
}



p{
    text-align: center;
}

.p2{
    font-size: 20px;
}

.p2 strong{
    color: #e91414;
}

.beneficios{
    /* background-color: #ffffff; */
    padding: 20px;
    vertical-align: top;
}

.beneficios h3{
    text-align: left;
    margin: 10px auto;
    font-weight: bold;
    font-size: 30px;
}

.beneficios li{
    font-size: 20px;
    margin: 15px 0;
}

.beneficios h2{
    text-align: center;
}

.beneficios ul{
    display: inline-block;
    /* Propriedade nova para subir o texto */
    vertical-align: top; 
    width: 20%;
    margin-right: 15%;
}

.beneficios img{
    width: 50%;
    position: relative;
    right: 0;
}


